@font-face {
  font-family: "AlexBrush-Regular";
  src: url(../font/AlexBrush-Regular.ttf);
}

span {
	font-weight: bold;
}

#logo {
	position: absolute;
	z-index: 1;
}

#logo_stage {
	display: flex;
	justify-content: center;
}

#version_stage {
	margin-left: 165px;
	margin-top: 90px;
	position: relative;
	z-index: 2;
	animation: animate 2s linear infinite;
}

@keyframes animate {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

#logo_version_stage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img_workshop {
	width: 100%;
	height: 100%;
	display: block;
}

#connect_section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#connexion {
	display: flex;
	justify-content: center;
	align-items: center;
}

#new_account {
	display: flex;
	justify-content: center;
	align-items: center;
}

#central_img {
	display: flex;
	justify-content: center;
	align-items: start;
	opacity: 0.5;
}

#side_section {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: auto;
	margin-bottom: auto;
}

#info_section {
	height: 305px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	border: 4px ridge silver;
}	

#info {
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	scrollbar-width: thin;
	padding: 10px;
}

#adv_section {
	height: 305px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}

#ad_img {
	height: 319px;
	width: 100%;
	border: 4px ridge silver;
}

#ad_index {
	font-family: "AlexBrush-Regular", arial, serif;
	margin-top: -25px;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: silver;
}